{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section id="address" class="color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width section-{{ section.id }}-padding">
        <div class="google-map">
            <iframe src="{{ section.settings.iframe-link }}"></iframe>
        </div>
        <div class="contact-address">
            {% for block in section.blocks  %}
                {% if block.settings.contact-label != blank %}
                <label>
                    {{ block.settings.contact-label }}
                </label>
                {% endif %}

               <div class="address-col">
                {% if block.settings.icon-img != blank %}
                  <img src="{{ block.settings.icon-img | img_url: 'master' }}" />
                {% endif %}
               {% if block.settings.contact-source != blank %}
                    {{ block.settings.contact-source }}
                {% endif %}
               </div>
             {% endfor %}
        </div>
    </div>   
</section>

{% schema %}
{
  "name": "Contact Address",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    },
    {
     "type": "url",
     "id": "iframe-link",
     "label": "Iframe Link"
   }
  ],

  "blocks": [
     {
       "name": "Contact Address",
       "type": "slide", 
       "settings": [
         {
           "type": "image_picker",
           "id": "icon-img",
           "label": "Icon Image"
         },
         {
            "type": "richtext",
            "id": "contact-label",
            "label": "Contact Label"
         },
         {
            "type": "richtext",
            "id": "contact-source",
            "label": "Contact Source"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Contact Address",
      "settings": {
        "title": "Contact Address"
      },
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
