<style>
#footer-section ul.order-list li {
    list-style: none;
}
#footer-section ul.order-list {
    flex-wrap: wrap;
    gap: 0rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0);
    background: #121212;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding:0;
}
#footer-section ul.order-list li {
    list-style: none;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 100px;
    justify-content: center;
}
#footer-section ul.order-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    text-align: center;
}
#footer-section ul.order-list li svg {
    fill: #fff;
    width: 100%;
    text-align: center;
}
div#footer-section {
    background: #121212;
    padding: 1rem 0;
}
  #footer-section ul.order-list li p {
    margin: 0;
}
#footer-section ul.order-list li:hover {
    background: #fff;
}
#footer-section ul.order-list li:hover p {
    color: #121212;
}
#footer-section ul.order-list li:hover img{
  filter:inherit;
  -webkit-filter:inherit;
  -moz-filter:inherit;
  -ms-filter:inherit;
}
#footer-section ul.order-list li img {
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -ms-filter: invert(1);
}
#footer-section ul.order-list li.menu-item {
  display: none;
}
#footer-section ul.order-list .dropdown {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-95%);
  -webkit-transform: translate(-50%,-95%);
  -moz-transform: translate(-50%,-95%);
  -ms-transform: translate(-50%,-95%);
  top: 50%;
  margin-top: 0px;
  text-align: center;
}
#footer-section ul.order-list .dropdown .dropbtn {
  padding: 15px;
  visibility: hidden;
}
#footer-section ul.order-list li:nth-child(1) {
  position: relative;
}
#footer-section ul.order-list .dropdown-content {
  display: none;
  background: #fff;
  color: #121212;
  max-height: 550px;
  max-width:100px;
  overflow: auto;
  overflow-X: hidden;
}
#footer-section ul.order-list .dropdown-content span{
  color:#121212;
}
#footer-section ul.order-list .dropdown:hover .dropdown-content {
  display: block;
}
#footer-section ul.order-list .dropdown-content .dropdown-src img {
  padding: 0 8px;
}
#footer-section ul.order-list .dropdown-content .dropdown-src {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}
#footer-section ul.order-list .dropdown-content .dropdown-src span {
  font-size: 11px;
  line-height: 18px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.collection-box .product-collection {
  display: none;
}
.collection-box .dropdown-src:hover ~ .product-collection {
  display: block;
}
.product-collection a.dropdown-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}
.collection-box .product-collection .dropdown-product span {
  font-size: 13px;
  line-height: 20px;
  padding: 0 10px;
  font-weight: bold;
  position:absolute;
  content:"";
  top:0;
}
.product-collection a.dropdown-product img {
  max-width: 100%;
  min-width: 80px;
  min-height: 80px;
  object-fit: contain;
}
.collection-box .dropdown-src:hover ~ .product-collection .dropdown-product img {
  min-width: 60px;
  object-fit: cover;
  min-height: 100px;
}
.product-collection a.dropdown-product::before {
  position: absolute;
  content: "";
  background: rgba(255,255,255,0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Works on Firefox */
#footer-section ul.order-list .dropdown-content {
  scrollbar-width: thin;
  scrollbar-color: #cccccc #f5f5f5;
}

/* Works on Chrome, Edge, and Safari */
#footer-section ul.order-list .dropdown-content ::-webkit-scrollbar {
  width: 0.2px;
}

#footer-section ul.order-list .dropdown-content ::-webkit-scrollbar-track {
  background: #dddddd;
}

#footer-section ul.order-list .dropdown-content ::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 1px;
  border: 0.2px solid #dddddd;
}
#footer-section ul.order-list .dropdown .dropdown-content .collection-box:hover + .product-collection {
  display: block;
}


@media screen and (max-width:600px) {
  #footer-section ul.order-list li {
      min-width: 25%;
  }
  #footer-section ul.order-list li p {
      font-size: 14px;
      line-height: 20px;
  }
  #footer-section ul.order-list .dropdown-content {
    max-width:100px;
  }
  #footer-section ul.order-list .dropdown-content .dropdown-src span {
    font-size: 10px;
    line-height: 16px;
  }
}


@media screen and (max-width:480px) {
  #footer-section ul.order-list .dropdown-content {
    max-width:75px;
  }
}
</style>

<div id="footer-section">
  <div class="page-width">
      <ul class="order-list">
        <li>
          <a href="{{ collection.url }}" class="dropdown-src">
              {% if section.settings.footer-ico-img != blank %}<img src="{{ section.settings.footer-ico-img | img_url: 'master' }}"/> {% endif %}
              {% if section.settings.ico-txt != blank %}<span>{{ section.settings.ico-txt }}</span> {% endif %}
              <div class="dropdown">
                {% comment %} <button class="dropbtn">SHOP</button> {% endcomment %}
                  <div class="dropdown-content">
                    {% for collection in collections %}
                      <div class="collection-box">
                        <a href="{{ collection.url }}" class="dropdown-src">
                          <img src="{{ collection | img_url: '30*30' }}" alt="{{ collection.image.alt }}" />
                          <span>{{ collection.title }}</span>
                        </a>
                      
                        <div class="product-collection">
                        {% for product in collection.products %}
                          <a href="{{ product.url }}" class="dropdown-product">
                            <img src="{{ product.featured_image | img_url: '50x50' }}" alt="{{ product.featured_image.alt }}" />
                            <span>{{ product.title }}</span>
                          </a>
                    
                        {% endfor %}  
                      </div>
                  
                        {% endfor %}
                    </div>
                </div>
            </a>
        </li>
        {% for block in section.blocks %}
          <li>
          <a href="{{ block.settings.footer-link }}">
            {% if block.settings.footer-ico-img != blank %}<img src="{{ block.settings.footer-ico-img | img_url: 'master' }}"/> {% endif %}
            {% if block.settings.ico-txt != blank %} <span>{{ block.settings.ico-txt }}</span> {% endif %}
          </a>
         {% endfor %}
        </li>
      </ul>

  </div>
</div>

{% schema %}
{
  "name": "footer-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    },
    {
      "type": "image_picker",
      "id": "footer-ico-img",
      "label": "Image"
    },
     {
       "type": "richtext",
       "id": "ico-txt",
       "label": "Footer Title"
     }
  ],
  "blocks": [
     {
       "name": "footer-column",
       "type": "slide",
       "settings": [
         {
           "type": "url",
           "id": "footer-link",
           "label":"Footer-link"
         },
         {
           "type": "image_picker",
           "id": "footer-ico-img",
           "label": "Image"
         },
          {
            "type": "richtext",
            "id": "ico-txt",
            "label": "Footer Title"
          }
       ]
     }
  ],
  "presets": [
    {
      "name": "footer-section",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
